.article-details-header {
    display: flex;
    position: relative;
    height: 25vh;
    padding: 20px;
    background-color: #DDEAF3;
    align-items: flex-start;
    background-size: cover;
  }
  
  .goBackButton-details {
    position: absolute;
    color: #6766CC;
  }
  
  .article-details-title {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #6766CC;
    margin-top: 0;
  }
  
  .article-details {
    text-align: left;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .article-content {
    font-family: 'Inter';
    font-size: 15px;
    color: #2E3B4C;
    margin-top: 0;
  }
  