.header {
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #eee;
  }

.title {
  position: absolute;
  font-family: 'Abril Fatface';
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  left: 50%;
  transform: translateX(-45%);
  margin: 0;
  color: #6766CC;
}

.goBackButton {
  margin-right: 10px;
  margin-top: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #597393;
}

.articles {
  padding: 15px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.article-image {
  width: 100%;
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#DDEAF3;
}

.article-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #74C9AA;
}

.article-summary {
  font-size: 13px;
  color: #2E3B4C;
  margin-top: 0;
}

.articles-navbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.822);
}

.articles-navbar-container {
  margin: 15px 20px 35px 20px
}
